<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改数据采集')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-data-edit" th:object="${cstData}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">设备ID：</label>
                    <div class="col-sm-8">
                        <input name="sbId" th:field="*{sbId}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">设备名称：</label>
                    <div class="col-sm-8">
                        <input name="sbName" th:field="*{sbName}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">地点ID  customer_id：</label>
                    <div class="col-sm-8">
                        <input name="placeId" th:field="*{placeId}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">地点名称：</label>
                    <div class="col-sm-8">
                        <textarea name="placeName" class="form-control">[[*{placeName}]]</textarea>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">地点类型：</label>
                    <div class="col-sm-8">
                        <input name="customerType" th:field="*{customerType}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">温度：</label>
                    <div class="col-sm-8">
                        <input name="wd" th:field="*{wd}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">压力：</label>
                    <div class="col-sm-8">
                        <input name="yl" th:field="*{yl}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">流量：</label>
                    <div class="col-sm-8">
                        <input name="ll" th:field="*{ll}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">时间：</label>
                    <div class="col-sm-8">
                        <input name="attra1" th:field="*{attra1}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">流速：</label>
                    <div class="col-sm-8">
                        <input name="attra2" th:field="*{attra2}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">备注3：</label>
                    <div class="col-sm-8">
                        <input name="attra3" th:field="*{attra3}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">用电量：</label>
                    <div class="col-sm-8">
                        <input name="electricity" th:field="*{electricity}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">环境温度：</label>
                    <div class="col-sm-8">
                        <input name="hjWd" th:field="*{hjWd}" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">水位高度：</label>
                    <div class="col-sm-8">
                        <input name="gd" th:field="*{gd}" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/data";
        $("#form-data-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-data-edit').serialize());
            }
        }
    </script>
</body>
</html>