/* 初始化 */
*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body{
	/* width: 100vw;
	height: 100vh; */
	background: url(../img/img_bg.png) top center no-repeat;
	background-size: 100% 100%;
	/* background-size: cover; */
	line-height: 1.15; */
}
.header{
	height: 0.875rem;
	background: url(../img/img_head.png) no-repeat;
	background-size: 100% 100%;
}
#showtime{
	color: #fff;
	text-align: right;
	line-height: 1.1rem;
	padding-right: 2.125rem;
	font-style: italic;
	font-size: 0.275rem;
}
.icons{
	
}
.headinfo{
	color: #fff;
	text-align: right;
	font-style: italic;
	font-size: 0.3rem;
	display: block;
    float: left;
	margin-top: 0.3rem;
	margin-left: 0.5rem;
}
.table-condensed td{
	font-size: 0.25rem ;
}
.table-condensed th{
	font-size: 0.3rem ;
}
.headinfo2{
	color: #fff;
	text-align: right;
	font-style: italic;
	font-size: 0.3rem;
	display: block;
    float: left;
	margin-top: 0.35rem;
    margin-left: 6.6rem;
}
.mainbox{
	display: flex;
}
.colum{
	width: 100%;
	flex: 1;
	padding: 0.25rem 0.25rem 0rem 0.25rem ;
}

.colum:nth-child(2){
	flex: 2;
	padding: 0.25rem 0px;
	/* height: 100%; */
	/* background-color: blueviolet; */
}
.block{
	width: 5.625rem;
	height: 3.725rem;
	margin-bottom: 0.25rem;
	background:url(../img/img_box.png) no-repeat;
	background-size: 100% 100%;
}
.title{
	height: 0.525rem;
	font-size: 0.275rem;
	font-weight: 500;
	color: #B5F7FD ;
	line-height: 0.525rem;
	padding-left: 0.75rem;
}
/* 设备基本信息 */
.new .matter{
	display: flex;
	justify-content: space-between;
	padding: 0.125rem 0.375rem 0.125rem 0.375rem;
}
.lefticon,.righticon{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.icon{
	display: flex;
	align-items: center;
	padding-top: 0.15rem;
	/* flex: 1; */
}
.lefticon .icon:nth-child(1) .tubiao{
	width: 0.5rem;
	height: 0.5rem;
	background: url(../img/img_yx.png) no-repeat;
	background-size: 100% 100%;
}
.lefticon .icon:nth-child(2) .tubiao{
	width: 0.5rem;
	height: 0.5rem;
	background: url(../img/icon_yc.png) no-repeat;
	background-size: 100% 100%;
}
.lefticon .icon:nth-child(3) .tubiao{
	width: 0.5rem;
	height: 0.5rem;
	background: url(../img/icon_pf.png) no-repeat;
	background-size: 100% 100%;
}
.lefticon .icon:nth-child(4) .tubiao{
	width: 0.5rem;
	height: 0.5rem;
	background: url(../img/icon_sj.png) no-repeat;
	background-size: 100% 100%;
}
.righticon{
	padding-left: 0.5rem;
}
.righticon .icon:nth-child(1) .tubiao{
	width: 0.5rem;
	height: 0.5rem;
	background: url(../img/icon_gd.png) no-repeat;
	background-size: 100% 100%;
}
.righticon .icon:nth-child(2) .tubiao{
	width: 0.5rem;
	height: 0.5rem;
	background: url(../img/icon_jh.png) no-repeat;
	background-size: 100% 100%;
}
.righticon .icon:nth-child(3) .tubiao{
	width: 0.5rem;
	height: 0.5rem;
	background: url(../img/icon_wc.png) no-repeat;
	background-size: 100% 100%;
}
.righticon .icon:nth-child(4) .tubiao{
	width: 0.5rem;
	height: 0.5rem;
	background: url(../img/icon_dcl.png) no-repeat;
	background-size: 100% 100%;
}
/* 动画开始 */
.new .matter .tubiao{
	position: relative;
}
.wbtu{
	/* position: absolute; */
	/* transform: translate(0,0);
	top: 0;
	left: 0; */
	width: 0.5rem;
	height: 0.5rem;
	animation: rotatel 6s linear infinite;
}
.nbtu{
	position: absolute;
	top: 0.0625rem;
	left: 0.0625rem;
	width: 0.375rem;
	height: 0.375rem;
	transform: translate(0,0);
}
/* 左边图标的引入 */
.lefticon .icon:nth-child(1) .tubiao .wbtu{
	background: url(../img/img_yuanquan.png) no-repeat;
	background-size: 100% 100%;
}
.lefticon .icon:nth-child(1) .tubiao .nbtu{
	background: url(../img/img_yunxing.png) no-repeat;
	background-size: 100% 100%;
}
.lefticon .icon:nth-child(2) .tubiao .wbtu{
	background: url(../img/icon_wx.png) no-repeat;
	background-size: 100% 100%;
}
.lefticon .icon:nth-child(2) .tubiao .nbtu{
	background: url(../img/icon_wd.png) no-repeat;
	background-size: 100% 100%;
}
.lefticon .icon:nth-child(3) .tubiao .wbtu{
	background: url(../img/icon_jk.png) no-repeat;
	background-size: 100% 100%;
}
.lefticon .icon:nth-child(3) .tubiao .nbtu{
	background: url(../img/icon_pft.png) no-repeat;
	background-size: 100% 100%;
}
.lefticon .icon:nth-child(4) .tubiao .wbtu{
	background: url(../img/icon_wh.png) no-repeat;
	background-size: 100% 100%;
}
.lefticon .icon:nth-child(4) .tubiao .nbtu{
	background: url(../img/icon_whnext.png) no-repeat;
	background-size: 100% 100%;
}
/* 右边图标的引入 */
.righticon .icon:nth-child(1) .tubiao .wbtu{
	background: url(../img/icon_dq.png) no-repeat;
	background-size: 100% 100%;
}
.righticon .icon:nth-child(1) .tubiao .nbtu{
	background: url(../img/icon_gongdan.png) no-repeat;
	background-size: 100% 100%;
}
.righticon .icon:nth-child(2) .tubiao .wbtu{
	background: url(../img/icon_jhwk.png) no-repeat;
	background-size: 100% 100%;
}
.righticon .icon:nth-child(2) .tubiao .nbtu{
	background: url(../img/icon_jhsl.png) no-repeat;
	background-size: 100% 100%;
}
.righticon .icon:nth-child(3) .tubiao .wbtu{
	background: url(../img/icon_wcwk.png) no-repeat;
	background-size: 100% 100%;
}
.righticon .icon:nth-child(3) .tubiao .nbtu{
	background: url(../img/icon_wcsl.png) no-repeat;
	background-size: 100% 100%;
}
.righticon .icon:nth-child(4) .tubiao .wbtu{
	background: url(../img/icon_dclwk.png) no-repeat;
	background-size: 100% 100%;
}
.righticon .icon:nth-child(4) .tubiao .nbtu{
	background: url(../img/icon_dclnk.png) no-repeat;
	background-size: 100% 100%;
}

@keyframes rotatel{
	 form {
		transform: translate(0,0) 
		rotate(0deg);
	 }
	 to {
	 	transform: translate(0,0) 
		rotate(360deg);
	 }
}

/* 动画结束 */
 .wz{
	display: flex;
	flex-direction: column;
	padding-left: 0.25rem;
}
.wz span{
	font-size: 0.25rem;
	color: #fff;
}
.wz p{
	font-size: 0.175rem;
	color: #B5F7FD;
	opacity: 0.8;
}
.blockmid{
	width: 11.25rem;
	height: 7.7rem;
	/* background: url(../img/img_maxkuang.png) no-repeat; */
	background-size: 100% 100%;
}

.blockmid:nth-child(2){
	height: 3.725rem;
	margin-top: 0.25rem;
	background: url(../img/img_minkuang.png) no-repeat;
	background-size: 100% 100%;
}

/* 设备故障统计开始 */
.pie .matter{
	/* width: 100%;
	height: 88%; */
	display: flex;
	flex-direction: column;
	padding-top: 0.1rem;
}

.matter{
	width: 100%;
	height: 3.125rem;
}
/* <!-- 设备故障预测开始 --> */

/* <!-- 设备OEE开始 --> */
.panel .matter{
	display: flex;
}
.tbq{
	display: flex;
	flex-direction: column;
	padding-top: 0.125rem;
	align-items: center;
}
.ybp,.tbq{
	width: 50%;
	height: 100%;
	flex: 1;
}
.san{
	flex: 1;
	display: flex;
	align-items: center;
}
.san .tubiao{
	width: 1rem;
	height: 0.775rem;
	/* background: url(../img/icon_sjjdl.png) no-repeat;
	background-size: 100% 100%; */
	position: relative;
}
.san .tubiao .shang{
	position: absolute;
	bottom: 0rem;
	width: 1rem;
	height: 0.575rem;
	background: url(../img/icon_wkuang.png) no-repeat;
	background-size: 100% 100%;
}
.san .tubiao .xia{
	width: 0.525rem;
	height: 0.55rem;
	position: absolute;
	top: 0rem;
	left: 0.25rem;
	background: url(../img/icon_nkuang.png) no-repeat;
	background-size: 100% 100%;
	z-index: 1;
	animation: light 2s linear infinite alternate;
}
.san .wz{
	display: flex;
	flex-direction: column;
}
.san:nth-child(2) .tubiao .shang{
	background: url(../img/icon_wkuang.png) no-repeat;
	background-size: 100% 100%;
}
.san:nth-child(2) .tubiao .xia{
	background: url(../img/icon_xkuang.png) no-repeat;
	background-size: 100% 100%;
}
.san:nth-child(3) .tubiao .shang{
	background: url(../img/icon_wkuang.png) no-repeat;
	background-size: 100% 100%;
}
.san:nth-child(3) .tubiao .xia{
	background: url(../img/icon_lkuang.png) no-repeat;
	background-size: 100% 100%;
}
/* 呼吸灯动画 */
@keyframes light{
			from{
				opacity: 1;
			}to{
				opacity: 0.4;
			}
		}
		
/* 设备故障日志 */
.blockmid:nth-child(2) .matter {
	display: flex;
	flex-direction: column;
}
.blue:hover{
	color: blue !important;
}
.blockmid:nth-child(2) .matter .bg {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex: 1;
	background: linear-gradient(to right,rgba(5,54,59,0.5), rgba(23,97,105,0.5));
	/* opacity: 0.5; */
	margin-top: 0.0625rem;
	border-bottom: 2px solid #014f5a;
	
}
#review_box{
	flex: 4;
	overflow: hidden;
}
.blockmid:nth-child(2) .matter .bg img{
	width: 1.175rem;
	background-size: 100% 100%;
}
.blockmid:nth-child(2) .matter #review_box .bg p{
	color: rgba(255, 255, 255, 0.8);
	font-size: 0.225rem;
	font-weight: normal;
}
#new{
	background: rgba(1, 148, 156, 0.4);
	border-bottom: none;
}
.blockmid:nth-child(2) .matter .bg p{
	color: #93d6e7;
	font-size: 0.225rem;
	font-weight: bold;
}
/* 滚动列表的设置 */
ul{
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}
li{
	height: 22%;
}
ul li .bg{
	height: 100%;
}
/* <!-- 设备运行状态监控开始 --> */

/* <!-- 剩余寿命预测 --> */
